@{
	ViewBag.Title = "Home";
}
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">


    <div class="center">
        <div class="border-style">
			<input name="fromFiles" type="file" accept=".xlsx, .xls" />
			<button class="button-style" type="submit">Validate</button>
        </div>
        
        <div class="margin-style">            
            @{
                if (ViewBag.Errors != null)
                {
                    <label>Error List</label>
                    <div>
                        <textarea rows="10" cols="60" readonly="readonly">
                            @ViewBag.Errors
                        </textarea>
                    </div>

                }
            }
        </div>

        
    </div>
    

</form>


